body, html {
    margin: 0;
    padding: 0;
    background-color: antiquewhite;
    font-family: Merriweather, sans-serif;
  }
  .header .logo a, .header .logo a:visited {
    text-decoration: none; 
    color: white; 
    outline: none; 
    cursor: pointer; 
    pointer-events: auto; 
  }
  .header {
    z-index: 100; 
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    padding-right: 20px; 
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); 
  }
  .header .logo {
    font-size: 24px;
    font-weight: bold;
  }
  .header button, .book {
    white-space: nowrap; 
    margin-right: 20px; 
    padding: 10px 15px; 
    margin-left: 10px;
    border-radius: 10px; 
    border: none; 
    background-color: #ffffff; 
    color: rgb(0, 0, 0); 
    cursor: pointer; 
    outline: none; 
  }
  .video-banner {
    position: relative;
    width: 100%;
    height: calc(100vh * 2 / 3);
    overflow: hidden;
  }
  .video-banner video {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .video-banner h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 3em;
    text-align: center;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); 
  }
  .book-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 20px;
  }
  .book {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
  }
  .filter{
    margin: 20px;
    border-radius: 10px; 
    padding: 15px 20px;
    white-space: nowrap; 
    border: none; 
    background-color: #ffffff; 
    color: rgb(0, 0, 0); 
    cursor: pointer; 
    outline: none; 
  }